<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @collection.item_id %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @collection.qty %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
