<%= form_for [@voucher, @issue] do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> Item  </th>
        <th> Qty kg </th>
      </tr>
    </thead>

    <tbody>
      
      <tr>
      <td><%= Item.find(issue.item_id).name %></td>
      <td><%= form.text_field :qty, id: :issue_qty %></td>
      <td> <%= form.submit %></td>
      
      </tr>
    </tbody>
  </table>
    
  </div>

 


<% end %>
