<%= form_with(model: iv_num, local: true) do |form| %>
  <% if iv_num.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(iv_num.errors.count, "error") %> prohibited this iv_num from being saved:</h2>

      <ul>
      <% iv_num.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :i_num %>
    <%= form.number_field :i_num, id: :iv_num_i_num %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
