<p id="notice"><%= notice %></p>

<h1>Iv Nums</h1>

<table>
  <thead>
    <tr>
      <th>I num</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iv_nums.each do |iv_num| %>
      <tr>
        <td><%= iv_num.i_num %></td>
        <td><%= link_to 'Show', iv_num %></td>
        <td><%= link_to 'Edit', edit_iv_num_path(iv_num) %></td>
        <td><%= link_to 'Destroy', iv_num, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iv Num', new_iv_num_path %>
