<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @issue.item_id %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @issue.qty %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
