<p id="notice"><%= notice %></p>

<h1>Scales</h1>

<table>
  <thead>
    <tr>
      <th>Scale type</th>
      <th>Qty</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scales.each do |scale| %>
      <tr>
        <td><%= scale.scale_type %></td>
        <td><%= scale.qty %></td>
        <td><%= scale.item %></td>
        <td><%= link_to 'Show', scale %></td>
        <td><%= link_to 'Edit', edit_scale_path(scale) %></td>
        <td><%= link_to 'Destroy', scale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scale', new_scale_path %>
