<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<h1 align="center"><u>Coll Vcrs</u></h1>
<hr style="color: green">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Ext Rv</th>
      <th>Coll date</th>
      <th>Company</th>
      
      <th>Invoice num</th>
      <% Item.all.each do |i|%>
        <th><%= i.name %></th>
=======
<h1>Coll Vcrs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Catering</th>
      <th>Ext Rv</th>
      <th>Date</th>
      <th>Company Name</th>
      <th>Com Inv Num</th>
      <% Item.all.each do |i|%>
      <th><%= i.name %> </th>
>>>>>>> ff9fa4288ea21eff91f5e459b353f2e4b07899e0
      <% end %>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coll_vcrs.each do |coll_vcr| %>
      <tr>
<<<<<<< HEAD
        <td><%= coll_vcr.ext_rv %></td>
        <td><%= coll_vcr.coll_date %></td>
        <td style="text-align: left" ="left"><%= Company.find(coll_vcr.company_id).name %></td>
        
        <td><%= coll_vcr.invoice_num %></td>
        <% coll_vcr.collections.each do |i|%>     
            <td><%= i.qty %></td> 
        <% end %>
=======
        <td><%= Catering.find(coll_vcr.catering_id).short_name %></td>
        <td><%= coll_vcr.ext_rv %></td>
        <td><%= coll_vcr.coll_date %></td>
        <td><%= Company.find(coll_vcr.company_id).name %></td>
        <td><%= coll_vcr.invoice_num %></td>
        
          <% coll_vcr.collections.each do |i|%>
        <th><%= i.qty %> </th>
          <% end %>

>>>>>>> ff9fa4288ea21eff91f5e459b353f2e4b07899e0
        <td><%= link_to 'Show', coll_vcr %></td>
        <td><%= link_to 'Edit', edit_coll_vcr_path(coll_vcr) %></td>
        <td><%= link_to 'Destroy', coll_vcr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>


    <% end %>
     <tr style="background-color: #DDE1CC">
        <td colspan="4">Total</td>

        <% @items.each do |i|%>
          <% total = Item.find(i.id).collections.sum(&:qty)%>
          <td ><%= total %></td>
        <% end %>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Coll Vcr', new_coll_vcr_path %>
