<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @coll_vcr.company_id %>
</p>

<p>
  <strong>Coll date:</strong>
  <%= @coll_vcr.coll_date %>
</p>

<p>
  <strong>Invoice num:</strong>
  <%= @coll_vcr.invoice_num %>
</p>


<%= link_to 'Edit', edit_coll_vcr_path(@coll_vcr) %> |
<%= link_to 'Back', coll_vcrs_path %>
