<p id="notice"><%= notice %></p>

<p>
  <strong>Catering:</strong>
  <%= Catering.find(@coll_vcr.catering_id).name %>
</p>
<p>
  <strong>Company:</strong>
  <%= Company.find(@coll_vcr.company_id).name %>
</p>

<p>
  <strong>Coll date:</strong>
  <%= @coll_vcr.coll_date %>
</p>

<p>
  <strong>Invoice num:</strong>
  <%= @coll_vcr.invoice_num %>
</p>
<p>
  <strong>Ext RV:</strong>
  <%= @coll_vcr.ext_rv %>
</p>

<table>
	<tr>
		<th>Item Name</th>
		<th>Qty</th>
	</tr>
<% @coll_vcr.collections.each do|c|%>
	
	<tr>

		<td><%= Item.find(c.item_id).name %></td>
		<td><%=link_to c.qty, edit_coll_vcr_collection_path(@coll_vcr, c.item_id) %></td>
	</tr>
<%end%>
</table>




<%= link_to 'Edit', edit_coll_vcr_path(@coll_vcr) %> |
<%= link_to 'Back', coll_vcrs_path %>
