<h1 align="center">
	
	<u>FREE DRT</u>
</h1>
<hr><br>

<table class="table table-hover">

<thead>
	<tr>
		<th colspan="100%">Daily Dry ration Adjustment Documents</th>
		
	</tr>
	<tr>
		<th >Description</th>
		<% span = @items.count%>
		<th colspan=<%= span+3 %>>Items</th>
		<th >Hospital Comforts</th>
		<th >Packing Materials</th>
	</tr>
	<tr>
		<th rowspan="2">Date/Name</th>
		<th rowspan="2">Ext RV/Int IV</th>
		<th rowspan="2">No.</th>
		<th>Items</th>
		<% @items.each do |i|%>
			<th><%= i.name %></th>
		<% end %>
		<th ></th>
		<th ></th>
	</tr>
	<tr>
		<th>DRS</th>
		<% @items.each do |i|%>
			<th><%= i.mes_unit %></th>
		<% end %>
		<th ></th>
		<th ></th>

	</tr>

</thead>
<tbody >
<!--//BF & Collection part!-->
	<tr>
		<td style="background-color: #DDE1CC">01-Jan-23</td>
		<td style="background-color: #DDE1CC" colspan="3">BF</td>
		
		<% @items.each do |i|%>
			<td style="background-color: #DDE1CC">100</td>
		<% end %>
		<td style="background-color: #DDE1CC" ></td>
		<td style="background-color: #DDE1CC" ></td>
	</tr>
	<tr>
		<td>01-Jan-23</td>
		<td>Ext Rv</td>
		<td>05</td>
		<td> - </td>
		<% @items.each do |i|%>
			<td>05.00</td>
		<% end %>
		<td ></td>
		<td ></td>
	</tr>

	<tr>
		<td colspan="4">Total BF+REC =</td>
		
		
		<% @items.each do |i|%>
			<td>105.00</td>
		<% end %>
		<td ></td>
		<td ></td>
	</tr>
	<!--//collection part end!-->


<!--//issue part!-->
	<% @vouchers.each do |v|%>

		<tr>
			<td><%= v.created_at.strftime('%d-%b-%y') %></td>
			<td>Int IV</td>
			<td><%= v.iv_numb %></td>
			<td> 500 </td>
			
			<% v.issues.each do |i|%>
			
				<td><% if i.qty > 0%> <%= i.qty %><% else %> - <%end%></td>

			<% end %>
			<td ></td>
			<td ></td>
		</tr>
		<%end%>

		<tr>
		<td colspan="3" style="background-color: #DDE1CC" >Total Issue =</td>
		<td style="background-color: #DDE1CC">1000</td>
		
		
		<% @items.each do |i|%>
			<% total = Item.find(i.id).issues.sum(&:qty)%>
			<td style="background-color: #DDE1CC"><%= total %></td>
		<% end %>
		<td style="background-color: #DDE1CC" ></td>
		<td style="background-color: #DDE1CC" ></td>
	</tr

	
</tbody>
	

</table>