<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name %>
  </div>

<<<<<<< HEAD
=======
  <div class="field">
    <%= form.label :Address %>
    <%= form.text_area :Address, id: :company_Address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :company_phone %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, id: :company_status %>
  </div>

>>>>>>> ff9fa4288ea21eff91f5e459b353f2e4b07899e0
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
