<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<<<<<<< HEAD
=======
<p>
  <strong>Address:</strong>
  <%= @company.Address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status %>
</p>

>>>>>>> ff9fa4288ea21eff91f5e459b353f2e4b07899e0
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
