<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <% if Item.any?%>
      <h4>Last Item Number: <%= Item.last.inum%></h4>
    <% else %>
    Create your first Item<br/>
  <% end %>
    <%= form.label :inum %>
    <%= form.number_field :inum, id: :item_inum %>
  </div>
<br/>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_name %>
  </div>
  <div class="field">
    <%= form.label :offr_scale %>
    <%= form.text_field :offr_scale, id: :offr_scale %>
  </div>
    <div class="field">
    <%= form.label :am_scale %>
    <%= form.text_field :am_scale, id: :am_scale %>
  </div>
    <div class="field">
    <%= form.label :modc_scale %>
    <%= form.text_field :modc_scale, id: :item_name %>
  </div>
    <div class="field">
    <%= form.label :civ1_scale %>
    <%= form.text_field :civ1_scale, id: :item_name %>
  </div>
    <div class="field">
    <%= form.label :civ2_scale %>
    <%= form.text_field :civ2_scale, id: :item_name %>
  </div>

  <div class="field">
    <%= form.label :status_active %>
    <%= form.check_box :status, id: :item_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
