<p id="notice"><%= notice %></p>

<p>
  <strong>Inum:</strong>
  <%= @item.inum %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>
<p>
  <strong>Officers Scale:</strong>
  <%= @item.offr_scale %>
</p>
<p>
  <strong>Airmen's Scale:</strong>
  <%= @item.am_scale %>
</p>
<p>
  <strong>MODC Scale:</strong>
  <%= @item.modc_scale %>
</p>
<p>
  <strong>Civ1 Scale:</strong>
  <%= @item.civ1_scale %>
</p>
<p>
  <strong>Civ2 Scale:</strong>
  <%= @item.civ2_scale %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
