<%= form_with(model: voucher, local: true) do |form| %>
  <% if voucher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voucher.errors.count, "error") %> prohibited this voucher from being saved:</h2>

      <ul>
      <% voucher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :voucher_name %>
  </div>

   <div class="field">
    <%= form.label :iv_numb %>
    <%= form.number_field :iv_numb, id: :voucher_iv_numb %>
  </div>

  
  
  <div class="field">
    <%= form.label :mess_id %>
    <%= collection_select(:voucher, :mess_id, Mess.all, :id, :name, prompt: true) %>

  </div>

  <div class="field">
    <%= form.label :catering_id %>
    <%= collection_select(:voucher, :catering_id, Catering.all, :id, :name, prompt: true) %>
  </div>
<br/>
<h2>vouchers issues</h2>

<div>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>issue id</th>
      <th>Item Name</th>
      <th>Qty</th>
      <th>Voucher Id</th>
      <th>edit</th>
      <th>delete</th>
      
    </tr>
  </thead>

  <tbody>
  <% @issues.each do |issue| %>

    <tr>
      <td><%= issue.id%></td>
      <td><%= Item.find(issue.item_id).name%></td>
      <td><%= issue.qty%></td>
      <td><%= issue.voucher.id%></td>
      <td><%= link_to "edit", edit_voucher_issue_path(voucher_id: @voucher.id, id:issue.id)%></td>
      <td><%= link_to "Delete", [@voucher, issue], method: :delete, confirm: "Are you sure! you want to delete the issue" %></td>
      
      

    </tr>
  <% end %>
    
  </tbody>
    
  </table>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



