<p id="notice"><%= notice %></p>
<p>
  <strong>Catering:</strong>
  <%= Catering.find(@voucher.catering_id).name %>
</p>
<p>
  <strong>Name:</strong>
  <%= @voucher.name %>
</p>
<p>
  <strong>iv:</strong>
  <%= @voucher.iv_numb %>
</p>

<p>
  <strong>Mess:</strong>
  <%= Mess.find(@voucher.mess_id).name %>
</p>

<div>
	<table class="table table-hover">
	<thead>
		<tr>
			<th>issue id</th>
			<th>Item Name</th>
			<th>Qty</th>
			<th>Voucher Id</th>
			<th>edit</th>
			<th>delete</th>
			
		</tr>
	</thead>

	<tbody>
	<% @issues.each do |issue| %>

		<tr>
			<td><%= issue.id%></td>
			<td><%= Item.find(issue.item_id).name%></td>
			<td><%= issue.qty%></td>
			<td><%= issue.voucher.id%></td>
			<td><%= link_to "edit", edit_voucher_issue_path(voucher_id: @voucher.id, id:issue.id)%></td>
			<td><%= link_to "Delete", [@voucher, issue], method: :delete, confirm: "Are you sure! you want to delete the issue" %></td>
			
			

		</tr>
	<% end %>
		
	</tbody>
		
	</table>
</div>


<%= link_to 'Edit', edit_voucher_path(@voucher) %> |
<%= link_to 'Back', vouchers_path %>
<br/>

<%= link_to " Add new Issue", new_voucher_issue_path(@voucher), class: 'pull-right'%>

